<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav {
            background-color: #333;
            padding: 10px 0;
            text-align: center;
        }

        nav a {
            color: #fff;
            font-size: 1.5em;
            margin: 0 20px;
            text-decoration: none;
        }

        .content {
            margin-top: 20px;

        }

        .heads {
            font-size: 2em;
            color: black;
            text-align: left;
        }

    </style>
</head>
<body>
    <nav>
        <span class = "heads">Welcome to Hacettepe E-commerce App</span>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    </nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
