{% extends 'layout.html' %}

{% block title %}Feedbacks{% endblock %}

{% block content %}
<h1>Feedback Page</h1>
<div>
    <p>Your account details are below:</p>
{#    <table>#}
{#        <tr>#}
{#            <td>Name:</td>#}
{#            <td>{{ account['fullname'] }}</td>#}
{#        </tr>#}
{#  <tr>#}
{#            <td>Username:</td>#}
{#            <td>{{ account['username'] }}</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Email:</td>#}
{#            <td>{{ account['email'] }}</td>#}
{#        </tr>#}
{#    </table>#}
</div>
{% endblock %}
