{% extends 'layout.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h1>Products Page</h1>
<div>
    <p>Your Products Detail:</p>

    {% if items %}
      <h2>Items</h2>
      <ul>
        {% for item in items %}
        <li>Product Name: {{ item[1] }} - Price: {{ item[2] }}</li>
        <form method="POST" action="{{ url_for('update_item_route', item_id=item[0]) }}">
            <label>
                <input type="text" name="name" value="{{ item[1] }}" placeholder="Name (Minimum 3 characters)" pattern=".{3,}" required>
            </label>
            <label>
                <input type="number" name="price" value="{{ item[2] }}" placeholder="New Price (0 for free)" required>
            </label>
            <button type="submit">Update</button>
        </form>
        <form method="POST" action="{{ url_for('delete_item_route', item_id=item[0]) }}">
            <button type="submit">Delete</button>
        </form>
        {% endfor %}
      </ul>
    {% else %}
      <p>No items available</p>
    {% endif %}
    <h2>Create New Item</h2>
    <form method="POST" action="{{ url_for('create_item_route') }}">
        <label>
            <input type="text" name="name" placeholder="Name (Minimum 3 characters)" pattern=".{3,}" required>
        </label>
        <label>
            <input type="number" name="price" placeholder="Price (0 for free)" required>
        </label>
        <button type="submit">Create</button>
    </form>

</div>
{% endblock %}
